.container {
  display: grid;
  grid-template-rows: 12vh 1fr 8vh;
  height: 100vh;
  /* position: relative; */
}

.headerContent {
  display: flex;
  margin: 15px 60px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.headerContent a {
  text-decoration: none;
}

.headerContent a:active {
  color: #09637a;
}

.headerContent a:visited{
  color: #09637a;
}

.brand {
  display: flex;
  margin: 0 20px;
  padding: 8px 12px;
  border: 3px solid transparent;
  transition: border 2ms;
  align-items: center;
}

.brand:hover {
  border: 3px solid #09637a;
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms;

}

.headerIcon {
  font-size: 40px;
  margin-right: 10px;
  color: #09637a;
}

.brand h2 {
  font-weight: 900;
}

.footerContent {
  border-top: 4px solid #51adc4;
  background-color: #09637a;
}
